* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(20, 19, 19);
}

/*Header*/
header {
    background-color: rgb(223, 83, 83);
    font-size: 20px;
    text-align: right;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav a{
    margin-right: 10px;
    text-decoration: none;
    color: rgb(20, 19, 19);
}

nav a:hover {
    color: white;
    font-size: 25px;
}

/*footer*/
footer {
    background-color: rgb(223, 83, 83);
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}

footer a {
    margin-right: 10px;
    text-decoration: none;
    color: rgb(20, 19, 19);
}

footer img:hover {
    width: 25px;
    height: 25px;
}

/*cuerpo*/
main {
    color: rgb(223, 83, 83);
}

section {
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(223, 83, 83);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(223, 83, 83, 0.5);
}

/*resumen*/
.resumen {
    display: flex;
    flex-wrap: wrap;
}

.resumen h2 {
    align-content: center;
}

.res1 {
    flex: 1;
    text-align: justify;
    border: 1px solid rgb(223, 83, 83);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.res2 {
    flex: 1;
    margin: 10px 10px 10px 20px;
    
    padding: 5px;
}

li {
    padding: 10px;
    border: 1px solid rgb(223, 83, 83);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(223, 83, 83, 0.5);
}

/*Formacion academica*/
.formacion {
    display: flex;
    flex-direction: column;
}

.formacion div {
    text-align: justify;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(223, 83, 83);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(223, 83, 83, 0.5);
}

.formacion div p {
    margin: 10px;
}

.fechas {
    display: inline;
    border: 1px solid rgb(223, 83, 83);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    float: right;
    align-content: center;
}

/*experiencia*/
.experiencia {
    display: flex;
    flex-direction: column;
}

.exp1 {
    flex: 1;
}

.exp1 p {
    margin: 10px 0px;
}

.exp2 {
    flex: 1;
    margin-left: 20px;
}

/*ajustes*/
@media(max-width:800px){
    .resumen {
        flex-direction: column;
    }
    .desc {
        border-top: 1px solid rgb(223, 83, 83);
        padding: 5px;
    }
}